<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Member">

	<insert id="insertCustomerQuestionBoard" parameterType="map">
		INSERT INTO SY_CUSTOMER_QUESTION_BOARD
		      (MEMBER_ID, TITLE, CONTENT, PUBLIC_YN)
		VALUES
		      (#{memberId}, #{title}, #{content}, #{publicYn})
	</insert>
	
	<select id="selectCustomerQuestionBoardList" resultType="map">
		SELECT POST_ID,
		       MEMBER_ID,
		       TITLE,
		       DATE_FORMAT(CREATE_DATE, '%Y-%m-%d %T') AS CREATE_DATE,
		       PUBLIC_YN
	      FROM SY_CUSTOMER_QUESTION_BOARD
	   	 WHERE STATUS = 'Y'
	</select>
	
	<select id="selectCustomerQuestionBoard" parameterType="String" resultType="map">
		SELECT Q.POST_ID,
		       M.USER_NM,
		       M.MEMBER_ID,
		       Q.TITLE,
		       Q.CONTENT,
		       Q.ANSWER,
		       DATE_FORMAT(Q.CREATE_DATE, '%Y-%m-%d %T') AS CREATE_DATE,
		       Q.PUBLIC_YN
	      FROM SY_CUSTOMER_QUESTION_BOARD Q
	      LEFT OUTER JOIN SY_MEMBER M ON(M.MEMBER_ID = Q.MEMBER_ID) 
	   	 WHERE Q.STATUS = 'Y'
	   	   AND Q.POST_ID = #{postId}
	</select>
	
	<update id="updateCustomerQuestionBoard" parameterType="map">
		UPDATE SY_CUSTOMER_QUESTION_BOARD
		   SET TITLE = #{title},
		       CONTENT = #{content}
		 WHERE POST_ID = #{postId}
	</update>
	
	<delete id="deleteCustomerQuestionBoard" parameterType="String">
		DELETE 
		  FROM SY_CUSTOMER_QUESTION_BOARD
		 WHERE POST_ID = #{postId}
	</delete>
	
	<insert id="insertCustomerMaterial" parameterType="map">
		INSERT INTO SY_CUSTOMER_MATERIAL_BOARD
		      (TITLE, CONTENT)
		VALUES 
		      (#{title}, #{content})
	</insert>
	
	<insert id="insertAttachment" parameterType="map">
		INSERT INTO SY_ATTACHMENT_BOARD
		      (FILE_PATH, ORIGIN_NM, CHANGE_NM, EXT, DIVSN, POST_ID)
		SELECT #{filePath} AS FILE_PATH,
		       #{originNm} AS ORIGIN_NM,
		       #{changeNm} AS CHANGE_NM,
		       #{ext} AS EXT,
		       '자료실',
		       MAX(POST_ID) AS POST_ID
		  FROM SY_CUSTOMER_MATERIAL_BOARD
	</insert>
</mapper>
