<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Product">

	<insert id="insertProductMfp" parameterType="map">
		<!-- 관리자 > 제품관리 > 제품등록 (복합기) -->
		INSERT INTO SY_PROD_MFP
		      (PROD_NM, PROD_INF, BRAND_INF, OUTPUT_SPD, SCAN_SPD, NETWORK_DIVSN, PAPER_DIVSN, COLOR_YN)
		VALUES
		      (#{mfpProdNm}, #{mfpProdInf}, #{mfpBrandInf}, #{output}, #{scan}, #{networkDivsn}, #{paperDivsn}, #{color})
	</insert>

	<insert id="insertProductMfpAttachment" parameterType="map">
		<!-- 관리자 > 제품관리 > 제품등록 (복합기) > 제품사진 등록  -->
		INSERT INTO SY_ATTACHMENT
		      (FILE_PATH, ORIGIN_NM, CHANGE_NM, EXT, DIVSN, POST_ID)
		SELECT #{filePath} AS FILE_PATH,
		       #{originNm} AS ORIGIN_NM,
		       #{changeNm} AS CHANGE_NM,
		       #{ext} AS EXT,
		       '복합기',
		       MAX(PROD_ID) AS POST_ID
		  FROM SY_PROD_MFP
	</insert>
	
	<insert id="insertProductExpd" parameterType="map">
		<!-- 관리자 > 제품관리 > 제품등록 (소모품) -->
		INSERT INTO SY_PROD_EXPD
		      (PROD_NM, PROD_INF, BRAND_INF, MODEL_AVAIL, SELL_YN)
		VALUES
		      (#{expdProdNm}, #{expdProdInf}, #{expdBrandInf}, #{expdModelAvail}, #{sell})
	</insert>
	
	<insert id="insertProductExpdAttachment" parameterType="map">
		<!-- 관리자 > 제품관리 > 제품등록 (소모품) > 제품사진 등록  -->
		INSERT INTO SY_ATTACHMENT
		      (FILE_PATH, ORIGIN_NM, CHANGE_NM, EXT, DIVSN, POST_ID)
		SELECT #{filePath} AS FILE_PATH,
		       #{originNm} AS ORIGIN_NM,
		       #{changeNm} AS CHANGE_NM,
		       #{ext} AS EXT,
		       '소모품',
		       MAX(PROD_ID) AS POST_ID
		  FROM SY_PROD_EXPD
	</insert>
	
	<select id="selectProductMfpList" resultType="map">
		<!-- 관리자 > 제품관리 > 복합기 전체 조회 -->
		SELECT A.CHANGE_NM,
			   A.EXT,
			   P.PROD_ID,
			   P.PROD_NM
		  FROM SY_PROD_MFP P
		  JOIN SY_ATTACHMENT A ON(P.PROD_ID = A.POST_ID)
		 WHERE A.DIVSN = '복합기'
	  ORDER BY PROD_ID DESC
	</select>
	
	<select id="selectProductExpdList" resultType="map">
		<!-- 관리자 > 제품관리 > 소모품 전체 조회 -->
		SELECT A.CHANGE_NM,
			   A.EXT,
			   P.PROD_ID,
			   P.PROD_NM
		  FROM SY_PROD_EXPD P
		  JOIN SY_ATTACHMENT A ON(P.PROD_ID = A.POST_ID)
		 WHERE A.DIVSN = '소모품'
	  ORDER BY PROD_ID DESC
	</select>
	
	<select id="selectProductMfpListCount" resultType="_int">
		<!-- 관리자 > 제품관리 > 복합기 개수 전체 조회 -->
		SELECT COUNT(*)
		  FROM SY_PROD_MFP;
	</select>
	
	<select id="selectProductExpdListCount" resultType="_int">
		<!-- 관리자 > 제품관리 > 소모품 개수 전체 조회 -->
		SELECT COUNT(*)
		  FROM SY_PROD_EXPD;
	</select>
</mapper>
